---
---

@import "minima";

.card-product {
	overflow: auto;
	min-height: 300px;
	background: rgba(16, 126, 125, 0.02);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	display: flex;
	border-radius: 8px;
	align-items: center;
	margin-bottom: $spacing-unit * 1;
}

.card-product p {
	opacity: 0.7;
}

.card-product .card-product-infos {
	padding: 16px;
}
